<h1>Lista de Supervisores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Dni</th>
    <th>Login</th>
    <th>Estado</th>
    <th>Encrypted password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supervisors.each do |supervisor| %>
  <tr>
    <td><%= supervisor.name %></td>
    <td><%= supervisor.password %></td>
    <td><%= supervisor.dni %></td>
    <td><%= supervisor.login %></td>
    <td><%= supervisor.estado %></td>
    <td><%= supervisor.encrypted_password %></td>
    <td><%= link_to 'Show', supervisor %></td>
    <td><%= link_to 'Edit', edit_supervisor_path(supervisor) %></td>
    <td><%= link_to 'Destroy', supervisor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supervisor', new_supervisor_path %>
