<%= simple_form_for(@administrador) do |f| %>
  <% if @administrador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrador.errors.count, "error") %> prohibited this administrador from being saved:</h2>

      <ul>
      <% @administrador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



   <%= f.input :name, :label=> "Nombres : " %>
   <%= f.input :email, :label=> "Login : " %>
   <%= f.input :password, :label=> "Contraseña : " %>
   <%= f.input :dni, :label=> "Dni : " %>
  
 <%= f.submit 'Aceptar' %>
 
<% end %>
