<%= simple_form_for(@campaing) do |f| %>
  <% if @campaing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaing.errors.count, "error") %> prohibited this campaing from being saved:</h2>

      <ul>
      <% @campaing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.association :service , :label=> "Servicio" %>
<%= f.input :name , :label=> "Nombre" %>
<%= f.input :inicio , :label=> "Inicio" %>
<%= f.input :fin , :label=> "Fin" %>

    <%= f.submit 'Aceptar'  %>
  </div>
<% end %>
